@reference "../styles/main.css";
:host {
  --var-active-color: #b8d935;
  display: inline-flex;
  @apply inline-flex gap-1;
}

:host::part(container) {
  display: inline-block;
  padding-right: 0.25rem;
  outline: solid 1px black;
}

:host::part(strength-meter) {
  @apply inline-flex min-h-full gap-0.5;
}

:host::part(bar) {
  background: #ddd;
  box-shadow: 0 0 0 0 var(--var-active-color) inset;
  cursor: help;
  transition: all ease-in 200ms;
  @apply grow rounded h-full gap-2 min-w-[5px] bg-gray-300;
}

:host::part(bar active-bar) {
  box-shadow: 1000px 0 0 0 var(--var-active-color) inset;
}

:host::part(container):focus-within {
  outline: solid 2px var(--focus-outline-color, blue);
  outline-offset: 2px;
}

:host([disabled])::part(container), :host([readonly])::part(container) {
  @apply bg-gray-200;
}

:host(:invalid)::part(container):focus-within {
  outline-color: red;
}

:host::part(input) {
  outline: none !important;
}
